@model KeyValuePair<int, Product>
@{

}

<div class="col-lg-4 command-block" id="Product-command-block-@Model.Key">
    <div class="pricing-item">
        <h3>@Model.Value.Name</h3>
        <div class="icon">
            <img height="70" width="70" src="@Model.Value.Image" />
        </div>

        <h4><sup>€</sup>@Model.Value.GetPrice()</h4>
        <ul>

        </ul>
        <div class="text-center"><a data-type="Product" data-entityid="@Model.Value.Id" data-id="@Model.Key" href="#" class="buy-btn">Supprimer</a></div>
    </div>
</div><!-- End Pricing Item -->